body{
  text-align: center;
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
}
h3 {
    color: hsl(223, 47%, 23%);
    position: relative;
    right: 50px;
    top: 15px;
}
.body{
  background-color:white;
  margin: auto;
  width: 375px;
  border-radius: 20px;
  position: relative;
  bottom: 250px;
}
.img{
  width:375px;
  border-radius:20px 20px 0 0;
}
.music-icon{
  float: left;
  position: relative;
  left:10px;
  top: 10px;
}
.pricing{
  width: 300px;
  margin: auto;
  border-radius: 20px;
  background-color:hsl(225, 100%, 98%);
  margin:20px;
  height: 80px
}
.change{
  color: hsl(245deg 75% 52%);
  font-weight: bold;
  position:relative;
  left: 100px;
  bottom: 50px;
}
.change:hover{
  text-decoration: underline;
  font-weight: bolder;
}
.price{
  position: relative;
  right: 60px;
  margin-top: 5px;
}

.proceed {
  background color: : hsl(245, 75%, 52%);
  background-image: -webkit-linear-gradient(top, hsl(245, 75%, 52%),hsl(245, 75%, 52%));
  background-image: -moz-linear-gradient(top, hsl(245, 75%, 52%), hsl(245, 75%, 52%));
  background-image: -ms-linear-gradient(top, hsl(245, 75%, 52%), hsl(245, 75%, 52%));
  background-image: -o-linear-gradient(top, hsl(245, 75%, 52%), hsl(245, 75%, 52%));
  background-image: linear-gradient(to bottom, hsl(245, 75%, 52%), hsl(245, 75%, 52%));
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: 'Red Hat Display',sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.proceed:hover {
  background: hsl(245, 75%, 52%);
  font-weight:725;
  text-decoration: none;
}
.cancel{
  font-size: 16px;
  font-weight: 700;
  padding: 20px 0 50px 0;
}
.cancel:hover{
  font-weight: 800;
}
p{
  font-size: 1rem;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  width: 300px;
  margin: auto;
  line-height: 1.5;
}
h1{
  color: hsl(223, 47%, 23%);
}
h3{
  color: hsl(223, 47%, 23%);
}
.attribution{
  color: hsl(224, 23%, 55%);
  font-size: 10px;
}
a{
  text-decoration: none;
}
a:hover{
  font-weight: bold;
}
